<form method="post" action="{{ path('campaign_delete', {'id': campaign.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_method" value="SUPPRIMER">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campaign.id) }}">
    <button class="btn black" style="margin-left: 210px;">Delete</button>
</form>
